


nav{
	display: flex;
}

	h1{
 text-align: center;
 color:rgb(220,20,60)
font-size 75px;
}
ol.formatacao1{
text-align: left;
color: rgb(220,20,60);
font-size:  25px;
}
body{
	background-color: rgb(4, 8, 15);
}
h3.formatacao1{
	text-align: left;
	color: rgb(220,20,60);
	font-size: 25px;
}
h1.formatacao1{
	text-align: center;
	color: rgb(220,20,60);
	font-size: 50px;
}
a{
	font-size: 35px;
text-decoration-line: none;
	color: rgb(220,20,60);
}
td.formatacao1{
	text-align: left;
	color: rgb(220,20,60);
	font-size: 25px;
}
li.formatacao1{
text-align: left;
	color: rgb(220,20,60);
	font-size: 25px;
}
p.formatacao1{
	text-align: left;
	color: rgb(220,20,60);
	font-size: 25px;
}
img.reyna{
	height: 560px;
	width: 850px;
}
table{
	
	height: 50px;
	width: 1200px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-spacing: 10px;
	color: rgb(220,20,60);
}
td{
	border-style: solid;
	border-width: 3px;
	border-color: white;
	width: 250;
	border-radius: 1px;
	text-align: center;
}
tr{
	text-align: justify;
}
a:link, a:visited{
		color: rgb(220,20,60);
		background-color: rgb(4, 8, 15);
		font-size: 35px;
		font-family: Times New Romans;
}
a:hover, a:active{
		color: rgb(255, 255, 255);
		background-color: rgb(4, 8, 15);
		font-size: 37px;
		font-family: Times New Roman;

	}
	td.t{
		text-align: right;
	}
	textarea{
		background-color: rgb(4, 8, 15);
	}
	form{
		background-color: rgb(4, 8, 15);
	}
p.personagem{
	color: rgb(220,20,60);
	font-size: 25px;
	
}
td.perso{
	width: 1000px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	border-radius: 1px;
	text-align: center;
}
h2.formatacao1{
	text-align: center;
	color: rgb(220,20,60);
	font-size: 30px;
}
div.link2{
	border-style: solid;
	border-width: 3px;
	border-color: white;
	border-radius: 1px;
	
	width: 1600px;
	background-color: rgb(4, 8, 15);
	position: fixed ;
	text-align: center;
	top: 0px;
	left: 0px;
}
p.espaço{
	word-spacing: 10px;
}
a.desenvolver{
	font-size: 17px;
	text-decoration: underline;
	color: rgb(220,20,60);
	
	
}
div.link3{
	border-style: solid;
	border-width: 3px;
	border-color: white;
	border-radius: 1px;
	
	width: 1600px;
	background-color: rgb(4, 8, 15);
	position: fixed ;
	text-align: center;
	top: 0px;
	left: 0px;
}
h2.formatacao2{
	text-align: left;
	color: rgb(220,20,60);
	font-size: 30px;
}
